<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <body>

<!-- ###TEMPLATE_LIST### begin -->
        ###MY_LISTVIEW_TITLE###
        <!-- ###LISTVIEW### begin -->
        <div class="###VIEW###view ###VIEW###view-###MODE###">
          <!-- ###LISTHEAD### begin --><!-- ###LISTHEADITEM### begin -->
            ###ITEM###<!-- ###LISTHEADITEM### end --><!-- ###LISTHEAD### end -->
          <!-- ###LISTBODY### begin --><!-- ###LISTBODYITEM### begin -->
          <div class="image" style="float:left;padding:0 1em 0 .6em;width:40px;">
            ###TX_ORG_REPERTOIRE.IMAGE###
          </div>
          <p>
            ###TX_ORG_REPERTOIRE.TITLE###
          </p>
          <div class="cleaner">&nbsp;</div>
          <!-- ###LISTBODYITEM### end --><!-- ###LISTBODY### end -->
          ###MY_LISTVIEW_PAGE###
        </div>
        <!-- ###LISTVIEW### end -->
<!-- ###TEMPLATE_LIST### end -->



<!-- ###TEMPLATE_SINGLE### begin -->
  <div style="background:red;color:white;padding:.4em;">
    <h1>
      Browser
    </h1>
    <h3>
      The TYPO3-Frontend-Engine
    </h3>
    <p>
      [ENGLISH] There isn't any single view for this plugin.
      <br />
      The Organiser using constants for the template controlling. See TypoScript constants "Organiser Pages".
      <br />
      Please maintain the id of the page, which contains the plugin for the news-single-view.
    </p>
    <p>
      [GERMAN] F&uuml;r dieses Plugin gibt es keine Detailansicht.
      <br />
      Der Organiser steuert das Templating mit Konstanten. Siehe TypoScript Konstanten "Organiser Pages".
      <br />
      Bitte gebe dort die Id der Seite an, die das Plugin f&uuml;r die News Single-Ansicht enth&auml;lt.
    </p>
    </div>
<!-- ###TEMPLATE_SINGLE### end -->



  </body>
</html>
